// Bootstrap Overrides
$primary: #c0392b;
$dark: #adb5bd;

// Theme Import
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Global Styles
.App > .container {
  padding-top: 2em; // Add space between nav and body
  background-color: rgba(0, 0, 0, 0.25);
  min-height: calc(100vh - 3rem);

  padding-bottom: 10vh;

  & > div {
    position: relative;
    animation: animateIn 0.2s;
  }
}

@keyframes animateIn {
  0% {
    right: -50px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

body {
  background: url("./img/background.png");
}

// Landing page
.landing {
  position: relative;
  padding-top: 80px;

  .logo {
    width: 20%;
  }
}

nav {
  height: 50px;

  a {
    color: $white;
  }

  a:hover {
    color: darken($white, 10);
  }

  img {
    height: 25px;
  }
}

// Data tables
.dataTable {
  th {
    background: $primary;
    border: none;
  }

  tbody {
    tr:nth-of-type(2n):not(:hover) {
      background: rgba($primary, 0.2);
    }
    tr:nth-of-type(2n):hover {
      background: rgba($primary, 0.1);
    }
  }
}

// Lead Page
.leadPage {
  .leadDetails * {
    color: $dark;
    font-size: 20px;
  }
}

// Quote Page
.quotePage {
  .quoteNotes {
    h5 {
      color: $dark;
      font-size: 20px;
    }
  }
  .quoteDetails * {
    color: $dark;
    font-size: 20px;
  }

  .jobInfo,
  .floorInfo,
  .pricing {
    margin-bottom: 50px;
    margin-top: 75px;

    .infoItem {
      strong {
        color: $dark;
      }

      span {
        text-transform: capitalize;
      }

      font-size: 20px;
    }

    .jobInfoNotesItem {
      margin-top: 30px;

      h5 {
        color: $dark;
        font-size: 20px;
      }

      p {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 1em;
        white-space: pre;
      }
    }
  }
}

.quoteNotes,
.leadNotes {
  div {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    white-space: pre;
  }
}

.uploadCarousel {
  .carouselItemContainer {
    position: relative;

    img {
      width: 100%;
      padding: 10px;
    }
  }

  .carouselItemContent {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;

    color: $dark;
    background-color: rgba(0, 0, 0, 0.95);
    float: right;
  }

  h3 {
    float: left;
  }

  .uploadCarouselControls * {
    float: right;
    margin-left: 20px;
  }

  .fileRow {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 0;

    h5 {
      padding-top: 5px;
      &.active {
        color: $primary;
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

.floorFormCarousel {
  .carouselItemContainer {
    position: relative;

    img {
      width: 100%;
    }
  }

  .carouselItemContent {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    text-align: center;

    & * {
      font-size: 2em !important;
      margin: 10px 0;
    }
  }
}

.jobInformationForm {
  h4 {
    margin-top: 50px;
    margin-bottom: -5px;
  }
}

.customCheck {
  .checkLabel {
    margin-right: 10px;
  }

  i {
    position: relative;
    top: 0px;
  }
}

.floorForm {
  .carouselToggle {
    margin-left: 10px;
    // font-size: 0.75em;
  }

  form > * {
    margin-top: 20px;
  }

  label {
    font-size: 1.25em;
  }
}

.input-range {
  .input-range__track {
    .input-range__track--active,
    .input-range__slider {
      background-color: $primary !important;
    }
    .input-range__slider {
      height: 1.5rem;
      width: 1.5rem;
      top: -4px;
      border: $primary;
    }
    .input-range__label-container {
      font-size: 1.2em;
      top: -10px;
      left: -40%;
    }
  }

  & * {
    transition-duration: 0.05s !important;
  }
}

.pricingForm {
  .floorInfo,
  .jobInfo {
    h3 {
      font-size: 1.25em;
    }
    margin-bottom: 75px;
    text-transform: capitalize;
  }

  .inputSlider {
    margin-bottom: 50px;
  }

  .saveBtn {
    margin: 100px 0 !important;
  }

  .addCostHeading {
    font-size: 1.2em;
    margin: 15px 0;
  }
}

.checkboxToggle {
  .btnWrapper {
    width: 100;
    margin: 0 auto;

    .btn {
      display: inline-block;
      width: 50%;

      &.selected {
        font-weight: bold;

        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f00c    ";
        }
      }

      &:not(.selected) {
        background-color: white;
        color: $primary;

        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f00d     ";
        }
      }

      &.trueBtn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.falseBtn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.noPhotosMsg {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.popupModal {
  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;

  .bg {
    z-index: -1;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.75);

    position: fixed;
  }

  .body {
    width: 90vw;
    // height: 90vh;
    margin: 2vh 5vw;
    position: relative;

    .closeBtn {
      font-size: 2em;
      z-index: 2;

      position: absolute;
      top: -10px;
      right: 0;
    }
  }
}

.popupSecureImage img {
  display: block;
  margin: 0 auto;

  width: 75vw;
}
