// Bootstrap Overrides
$primary: #c0392b;

// Theme Import
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

// Global Styles
.App > .container {
  padding-top: 2em; // Add space between nav and body
  background-color: rgba(0, 0, 0, 0.25);
  min-height: 90vh;
}

body {
  background: url("./img/background.png");
}

// Landing page
.landing {
  position: relative;
  background: url("./img/landing.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 3rem);
  padding-top: 80px;

  .container {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    padding-top: 100px;
    height: 60vh;
  }

  .logo {
    width: 20%;
  }
}

nav {
  height: 3em;

  a {
    color: $white;
  }

  a:hover {
    color: darken($white, 10);
  }
  img {
    height: 30px;
    margin-right: 1em;
  }
}
